@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@media ( min-width : 901px ) {

  .main {
    align-items: center;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .main .colorBlue {
    color: #0091f5;
  }

  .main .colorPurple {
    color: #eb00ff;
  }

  .main .spanTitle {
    color: white;
    font-family: Roboto Mono , monospace;
    font-size: 30px;
    font-weight: 700;
    height: 75px;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
  }

  .main .section {
    align-items: center;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    width: 80%;
  }

  .main .section .divFront {
    align-items: center;
    background-color: yellow;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    row-gap: 50px;
    width: 50%;
  }

  .main .section .divFront img {
    border: 1px solid #eb00ff;
    border-radius: 1px;
    width: 80px;
  }

  .main .section .divBack {
    align-items: center;
    background-color: green;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 50%;
  }
}
