@import '_fonts.scss';
@import './_responsive.scss';

* {
	margin: 0px;
}

body {
	margin: 0px;
	@include default-fonts;
	width: 100%;
	// background: url('../images/gifTeste.gif');
	// background-size: cover;
  // background-repeat: no-repeat;
}

@include responsive(m) {
	@include header {
		background-color: #050c217e;
		color: white;
		font-weight: 700;
		h1 {
			font-size: sizeFonts(24);
			padding: sizeFonts(10);
		}
		img {
			width: 40px;
			background: transparent;
			padding: sizeFonts(20);
		}
	
	}
}

@include responsive(d) {
	@include header {
		// background-color: #050C21;
		h1 {
			font-size: sizeFonts(30);
			padding: sizeFonts(20);
		}
		nav {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			p {
				font-size: sizeFonts(14);
				padding: sizeFonts(20);
				font-weight: 400;
				&:hover {
					cursor: pointer;
					font-weight: 700;
				}
			}
		}
		button {
			width: 50px;
			img {
				width: 60px;
			}
		}
	}
}
