@import '_fonts.scss';
@import './_responsive.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');


* {
	margin: 0px;
}

body {
	margin: 0px;
	@include default-fonts(title);
	width: 100vw;
	background: url('../images/backgroundImage.svg');
  background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

@mixin navegation() {
	.nav {
		width: 300px;
		display: flex;
		flex-grow: 1;
		justify-content: space-between;
		align-items: center;
		background-color: rgb(24, 24, 24);
		padding: 10px;
		border-radius: 50px;
		position: fixed;
		top: 83%;
		a {
			padding: 10px;
			display: flex;
			justify-content: center;
			background-color: black;
			border-radius: 50%;
			&.checked {
			background: rgb(0,131,242);
			background: radial-gradient(circle, rgba(0,131,242,1) 0%, rgba(178,0,242,1) 100%);
			}
			svg {
				width: 25px;
				height: 25px;
				color: white;
			}
		}
		@content;
	}
}

@include responsive(m) {
	@include navegation
}

@include responsive(t) {
	@include navegation
}

@include responsive(d) {	
	@include navegation
}
