@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@media (min-width: 0px) and (max-width: 682px) {
  .main {
    animation: animationFromMain;
    animation-duration: 3s;
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @keyframes animationFromMain {
    from {
      opacity: 0;
      margin-top: 10px;
    }
    to {
      opacity: 1;
      margin-top: 0px;
    }
  }
  .main .spanTitle {
    font-family: "Roboto Mono", monospace;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    height: 75px;
    width: 80%;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .main .colorFront {
    color: #0091f5;
  }
  .main .colorBack {
    color: #EB00FF;
  }
  .main .divButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .main .divButtons .glow-on-hover {
    font-family: "Anton", sans-serif;
    width: 170px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
  }
  .main .divButtons .glow-on-hover img {
    width: 170px;
  }
  .main .divButtons .glow-on-hover:before {
    content: "";
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 50px;
  }
  .main .divButtons .glow-on-hover:active {
    color: #000;
  }
  .main .divButtons .glow-on-hover:active:after {
    background: transparent;
  }
  .main .divButtons .glow-on-hover:hover:before {
    opacity: 1;
  }
  .main .divButtons .glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 50px;
  }
  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}
@media (min-width: 683px) and (max-width: 900px) {
  .main {
    animation: animationFromMain;
    animation-duration: 3s;
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @keyframes animationFromMain {
    from {
      opacity: 0;
      margin-top: 10px;
    }
    to {
      opacity: 1;
      margin-top: 0px;
    }
  }
  .main .spanTitle {
    font-family: "Roboto Mono", monospace;
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    height: 75px;
    width: 80%;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .main .colorFront {
    color: #0091f5;
  }
  .main .colorBack {
    color: #EB00FF;
  }
  .main .divButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .main .divButtons .glow-on-hover {
    font-family: "Anton", sans-serif;
    width: 210px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
  }
  .main .divButtons .glow-on-hover img {
    width: 210px;
  }
  .main .divButtons .glow-on-hover:before {
    content: "";
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 50px;
  }
  .main .divButtons .glow-on-hover:active {
    color: #000;
  }
  .main .divButtons .glow-on-hover:active:after {
    background: transparent;
  }
  .main .divButtons .glow-on-hover:hover:before {
    opacity: 1;
  }
  .main .divButtons .glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 50px;
  }
  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}
@media (min-width: 901px) {
  .main {
    animation: animationFromMain;
    animation-duration: 3s;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @keyframes animationFromMain {
    from {
      opacity: 0;
      margin-top: 10px;
    }
    to {
      opacity: 1;
      margin-top: 0px;
    }
  }
  .main .spanTitle {
    font-family: "Roboto Mono", monospace;
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    height: 75px;
    text-transform: uppercase;
    margin-top: 50px;
  }
  .main .colorFront {
    color: #0091f5;
  }
  .main .colorBack {
    color: #EB00FF;
  }
  .main .divButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .main .divButtons .glow-on-hover {
    font-family: "Anton", sans-serif;
    width: 170px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
  }
  .main .divButtons .glow-on-hover img {
    width: 170px;
  }
  .main .divButtons .glow-on-hover:before {
    content: "";
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 50px;
  }
  .main .divButtons .glow-on-hover:active {
    color: #000;
  }
  .main .divButtons .glow-on-hover:active:after {
    background: transparent;
  }
  .main .divButtons .glow-on-hover:hover:before {
    opacity: 1;
  }
  .main .divButtons .glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 50px;
  }
  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}
