@keyframes borderWriterColor {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: white;
  }
}
@keyframes typing {
  from {
    width: 0px;
  }
  to {
    width: 260px;
  }
}
@media (min-width: 0px) {
  .header {
    width: 100%;
    display: flex;
  }
  .header h1 {
    background: rgb(0, 145, 245);
    background: linear-gradient(189deg, rgb(0, 145, 245) 0%, rgb(255, 0, 232) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: 700;
  }
  .main {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 5;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .main div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 200px;
    width: 100%;
  }
  .main div h1 {
    color: white;
    font-size: 20px;
    background: rgb(255, 0, 241);
    background: linear-gradient(189deg, rgb(0, 83, 245) 0%, rgb(255, 0, 241) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    width: 0px;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    animation: borderWriterColor 500ms infinite normal, typing 2s steps(40) normal;
    animation-delay: 5s;
    animation-fill-mode: forwards;
  }
}
