@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");
* {
  margin: 0px;
}

@media (min-width: 0px) and (max-width: 682px) {
  .nav {
    z-index: 10;
    width: 300px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.144);
    padding: 10px;
    border-radius: 50px;
    position: fixed;
    top: 85%;
  }
  .nav a {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
  }
  .nav a.checked {
    background: rgb(0, 131, 242);
    background: radial-gradient(circle, rgb(0, 131, 242) 0%, rgb(178, 0, 242) 100%);
  }
  .nav a svg {
    width: 25px;
    height: 25px;
    color: white;
  }
}
@media (min-width: 683px) and (max-width: 900px) {
  .nav {
    z-index: 10;
    width: 300px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.144);
    padding: 10px;
    border-radius: 50px;
    position: fixed;
    top: 85%;
  }
  .nav a {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
  }
  .nav a.checked {
    background: rgb(0, 131, 242);
    background: radial-gradient(circle, rgb(0, 131, 242) 0%, rgb(178, 0, 242) 100%);
  }
  .nav a svg {
    width: 40px;
    height: 40px;
    color: white;
  }
}
@media (min-width: 901px) {
  .nav {
    z-index: 10;
    width: 300px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.144);
    padding: 10px;
    border-radius: 50px;
    position: fixed;
    top: 85%;
  }
  .nav a {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
  }
  .nav a.checked {
    background: rgb(0, 131, 242);
    background: radial-gradient(circle, rgb(0, 131, 242) 0%, rgb(178, 0, 242) 100%);
  }
  .nav a svg {
    width: 25px;
    height: 25px;
    color: white;
  }
}
